<!DOCTYPE html>
<html lang="en">
  <!-- <script src="../public//css/index.css"></script> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">
    <meta name="author" content="Tomomi Imura  @girlie_mac">

    <title>Simple AI Chatbot with Gemini API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="chat-container">
    <h1>Simple AI Chatbot with GEMINI API</h1>
    <input type="text" id="userInput" placeholder="Say something...">
    <button onclick="sendMessage()" id="sendBtn" class="button-33">Send</button>
    <p id="response">Response will appear here...</p>
    
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script> -->
    <script src="js/script.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->

  </body>
</html>


